{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <h1>Teams</h1>

    {% include('teams/teamlist.html.twig') with {'title': 'A-Tournament', 'filter': 'A'} %}

    {% include('teams/teamlist.html.twig') with {'title': 'B-Tournament', 'filter': 'B'} %}

    {% include('teams/teamlist.html.twig') with {'title': 'Undecided',  'filter': 'Undecided'} %}

{% endblock %}
