{% extends 'base.html.twig' %}

{% block body %}

    <h1>Camping:</h1>
    <p><strong>Campingplatz M&ouml;rfelden Naturfreundehaus</strong></p>
    <p class="text-success">Info: Campingplatz ist ca 3 -4 km entfernt</p>
    <p><a href="https://www.naturfreunde-moerfelden-walldorf.de/camping/" target="_blank" rel="noopener">https://www.naturfreunde-moerfelden-walldorf.de/camping/</a></p>
    <p>Am Zelt&shy;platz 10A64546 M&ouml;rfelden-​WalldorfTel.: 0 61 05 - 33 5 71</p>
    <p>naturfreunde-​moerfelden@​t-​online.​de</p>
    <p>(nicht mit Campingplatz M&ouml;rfelden direkt gegen&uuml;ber zu verwechseln, dieser bietet keine einzelnen &Uuml;bernachtungen an, sondern nur Dauer-, Saisonpl&auml;tze)&nbsp;</p>

    <h1>Hotels:</h1>
    <p><strong>Hotel Tommasi</strong></p>
    <p><a href="https://hotel-tommasi.com" target="_blank" rel="noopener">https://hotel-tommasi.com</a></p>
    <p>Karlstra&szlig;e 3D-64546 M&ouml;rfelden-Walldorf</p>
    <p>Tel. +49 (0)6105 22082</p>
    <p><a href="mailto:frontdesk@hotel-tommasi.com" target="_blank" rel="noopener">frontdesk@hotel-tommasi.com</a></p>
    <p><strong>Holiday Inn Express Airport Frankfurt</strong></p>
    <p><a href="https://www.ihg.com/holidayinnexpress/hotels/gb/en/moerfelden-walldorf/framf/hoteldetail" target="_blank" rel="noopener">https://www.ihg.com/holidayinnexpress/hotels/gb/en/moerfelden-walldorf/framf/hoteldetail</a></p>
    <p>Langener Stra&szlig;e 200</p>
    <p>64546 M&ouml;rfelden-Walldorf</p>
    <p><a href="mailto:info@hiexfrankfurtairport.com" target="_blank" rel="noopener">info@hiexfrankfurtairport.com</a></p>
    <p><strong>Appartementhotel &ldquo;Zum Gr&uuml;nen Haag&rdquo;</strong></p>
    <p><a href="https://www.zumgruenenhaag.de" target="_blank" rel="noopener">https://www.zumgruenenhaag.de</a></p>
    <p>R&uuml;sselsheimer Stra&szlig;e 60</p>
    <p>64546 M&ouml;rfelden-Walldorf</p>
    <p><a href="mailto:zumgruenenhaag@t-online.de" target="_blank" rel="noopener">zumgruenenhaag@t-online.de</a></p>
    <p><strong>Airport Hotel zum L&ouml;wen</strong></p>
    <p><a href="https://zumloewen.de" target="_blank" rel="noopener">https://zumloewen.de</a></p>
    <p>Langstra&szlig;e 68</p>
    <p>64546 M&ouml;rfelden-Walldorf</p>
    <p><a href="mailto:hotel@zumloewen.de" target="_blank" rel="noopener">hotel@zumloewen.de</a></p>
    <p><strong>Jagdschlo&szlig; M&ouml;nchbruch</strong></p>
    <p><a href="https://www.jagdschloss-moenchbruch.de" target="_blank" rel="noopener">https://www.jagdschloss-moenchbruch.de</a></p>
    <p>M&ouml;nchbruch 1</p>
    <p>64546 M&ouml;rfelden-Walldorf</p>
    <p><a href="mailto:info@jagdschloss-moenchbruch.de" target="_blank" rel="noopener">info@jagdschloss-moenchbruch.de</a></p>

{% endblock %}