<div class="">
    <h1>Spielplan / Fixtures</h1>
    <a class="text-decoration-none fs-1" target="_blank"
       href="{{ asset('assets/spielplan.pdf') }}">
        <i class="bi bi-file-earmark-arrow-down-fill me-1"></i> Download Spielplan / Fixtures
    </a>
</div>

