{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="" style="">
        <img src="{{ asset("assets/flyer.jpg") }}" class="img-fluid rounded mx-auto d-block px-0 mb-1"
             alt="Flyer with save the date.">

        {{ include('main/infos.html.twig') }}
    </div>
{% endblock %}