{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="" style="">
        <img src="{{ asset("assets/flyer.jpg") }}" class="img-fluid rounded mx-auto d-block px-0 mb-0"
             alt="Flyer with save the date.">

        <div class="my-b text-center">
            <blockquote class="blockquote">
                Get ready for the most thrilling and adrenaline-pumping event of the year - the European Unicycle Hockey
                Championships! Witness the best of the best as they compete in the fastest and most exhilarating sport
                on one wheel.</blockquote>
        </div>
        {{ include('main/infos.html.twig') }}

        <div class="my-3">
            <h1>What is unicycle hockey?</h1>
            <p>
                Unicycle hockey is a sport that combines unicycling and hockey. The game is played in a gym with two
                teams of five  players each, with each player riding a unicycle and using a hockey stick to hit a tennis ball into the
                opposing team's goal.
            </p>
            <h3 class="text-center link-primary">
                <a href="https://www.youtube.com/live/3F6RKdSQXQE?feature=share&t=944" class="text-decoration-none">
                    <i class="bi bi-film"></i>
                    Video of unicycle hockey
                </a>
            </h3>
        </div>
    </div>
{% endblock %}