<ul class="list-group">
    <li class="list-group-item active">
        <h3>European Unicycle Hockey Championship</h3>
    </li>
    <li class="list-group-item">
        <i class="bi bi-calendar me-1"></i> <b>A</b> 04.08.2023 to 06.08.2023
    </li>
    <li class="list-group-item">
        <i class="bi bi-calendar me-1"></i> <b>B</b>  02.08.2023 to 06.08.2023
    </li>
    <li class="list-group-item">
        <div class="alert alert-warning"><i class="bi bi-x-square"></i> Update: The registration will close instead of June 25th. Please transfer the registration fee until July 2nd.</div>
    </li>
    <li class="list-group-item">
        <i class="bi bi-people-fill me-1"></i> Max. 24 Teams (8 A and 16 B)
    </li>
    <li class="list-group-item">
        <a class="text-decoration-none" target="_blank"
           href="{{ asset('assets/iuf-rulebook-2019.pdf') }}">
            <i class="bi bi-file-earmark-fill me-1"></i> Playing Rules
        </a>
    </li>
    <li class="list-group-item">
        <a class="text-decoration-none" target="_blank"
           href="https://goo.gl/maps/QXmaD3n6akpwtVJZA">
        <i class="bi bi-geo-alt-fill me-1"></i>An den Nußbäumen 1, 64546 Mörfelden-Walldorf
        </a>
    </li>
    <li class="list-group-item">
        <a href='mailto:euhc@einrad.hockey' class="link-primary text-decoration-none">
            <i class="bi bi-envelope-fill me-1"></i>
            euhc@einrad.hockey
        </a>
    </li>
    <li class="list-group-item">
        <i class="bi bi-cash-stack me-1"></i> 250 € per team (max. 10 players per team)
    </li>
</ul>

<div class="alert alert-warning my-3">
    <h3>Update: Payment Information</h3>
    <table class="table" style="max-width: 400px">
        <tr>
            <th>Price</th>
            <td>€250 per team</td>
        </tr>    <tr>
            <th>Payee</th>
            <td>SKV Moerfelden Radsport</td>
        </tr>
        <tr>
            <th>IBAN</th>
            <td>DE16 5019 0000 4101 5406 64</td>
        </tr>
        <tr>
            <th>Purpose of Use</th>
            <td>EUHC - Registration fee - "Team Name" - (Quantity of jerseys - Jersey Size - Male/Female)</td>
        </tr>
    </table>
    <p>For example:<br>
        Purpose of Use: EUHC - Registration fee - "Team Name" - 2x S Female, 2x M Male, 1x L Female, 1x L Male
        Price: 250 € Regestration fee + 6 jerseys * 15 € = 340 €</p>
</div>