<ul class="list-group">
    <li class="list-group-item active">
        <h3>European Unicycle Hockey Championship</h3>
    </li>
    <li class="list-group-item">
        <i class="bi bi-calendar me-1"></i> <b>A</b> 04.08.2023 to 06.08.2023
    </li>
    <li class="list-group-item">
        <i class="bi bi-calendar me-1"></i> <b>B</b>  02.08.2023 to 06.08.2023
    </li>
    <li class="list-group-item">
        <i class="bi bi-x-square"></i>
        The registration will close on June 25th.
    </li>
    <li class="list-group-item">
        <i class="bi bi-people-fill me-1"></i> Max. 24 Teams (8 A and 16 B)
    </li>
    <li class="list-group-item">
        <a class="text-decoration-none" target="_blank"
           href="{{ asset('assets/iuf-rulebook-2019.pdf') }}">
            <i class="bi bi-file-earmark-fill me-1"></i> Playing Rules
        </a>
    </li>
    <li class="list-group-item">
        <a class="text-decoration-none" target="_blank"
           href="https://goo.gl/maps/QXmaD3n6akpwtVJZA">
        <i class="bi bi-geo-alt-fill me-1"></i>An den Nußbäumen 1, 64546 Mörfelden-Walldorf
        </a>
    </li>
    <li class="list-group-item">
        <a href='mailto:euhc@einrad.hockey' class="link-primary text-decoration-none">
            <i class="bi bi-envelope-fill me-1"></i>
            euhc@einrad.hockey
        </a>
    </li>
    <li class="list-group-item">
        <i class="bi bi-cash-stack me-1"></i> 250 € per team (max. 10 players per team)
    </li>
</ul>