{% extends 'base.html.twig' %}

{% block body %}
    <div class="my-5">
        {{ include('main/fixtures.html.twig') }}
    </div>
    <div class="my-5">
        {{ include('main/timetable.html.twig') }}
    </div>
{% endblock %}
