{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-5">
        <a href="https://www.twitch.tv/einradhockeytv" class="link-primary text-decoration-none fs-2" target="_blank">
            <i class="bi bi-film"></i> Livestream: EinradhockeyTV
        </a>
    </div>
{#    <script>#}
{#        var iframe = document.getElementById("myiframe");#}
{#        // iframe.width = iframe.contentWindow.document.body.scrollWidth;#}
{#        iframe.height = iframe.contentWindow.document.body.scrollHeight;#}
{#    </script>#}
    <iframe id="myiframe" scrolling="no" style="width:100%; height:3200px; overflow: hidden;" src="{{ app.request.server.get(link) }}"></iframe>
{% endblock %}