{% extends 'base.html.twig' %}

{% block body %}


    <h1>Teams</h1>
    {% if teams is empty %}
        <p>No teams registered yet.</p>
    {% else %}
        {% include('team/filter-teams-list.html.twig') with {'title': 'A-Tournament', 'filter': 'A'} %}

        {% include('team/filter-teams-list.html.twig') with {'title': 'B-Tournament', 'filter': 'B'} %}

        {% include('team/filter-teams-list.html.twig') with {'title': 'Undecided',  'filter': 'Undecided'} %}
    {% endif %}
{% endblock %}
