<div class="">
    <h1>Timetable</h1>
    <img src="{{ asset("assets/timesheet-2023-07-04.jpg") }}" class="img-fluid rounded mx-auto d-block px-0 mb-0"
         alt="Flyer with save the date.">
    <a class="text-decoration-none" target="_blank"
       href="{{ asset('assets/Zeitplan_EUHC.pdf') }}">
        <i class="bi bi-download me-1"></i> Download
    </a>
</div>